
# gnuplot input files are named in the format of `<x>_plotting.pl`
# output files from MCTDH's autospec are named `*.pl`
*.pl -linguist-detectable

# if there are output files from MCTDH that we don't want to store then we 
# <format> linguist-generated

# if their are PDF files or txt files that are just explanations of what is going on
# <format> linguist-documentation

# if your using others code that is static (vendored)
# <format> linguist-vendored
